.sectionHobbiesContainer {
  display: flex;
  flex-direction: column;

  gap: 50px;

  .hobbiesHeader {
    border-bottom: 1px solid var(--color-gray0);
    padding-bottom: 20px;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 16px;
  }
}
