.renderArticlesContainer {
  display: flex;
  flex-direction: column;

  .searchInfoContainer {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: -2.5rem;
    margin-bottom: 2.5rem;

    %text {
      font-family: var(--font-secundary);
      font-size: clamp(11px, 1.5vw, 16px);
      color: var(--color-gray0);
    }

    span {
      @extend %text;
    }
    p {
      @extend %text;
    }
  }
}
