.cardarticleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 93%;

  border: 1px solid var(--colo-Darkwhite);
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

  transition:
    border 0.3s,
    box-shadow 0.3s;

  margin: 0 0 80px 0;
  padding: 20px;

  &:hover {
    border: solid 1px #c8c8c8;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
  }

  .cardLeft {
    display: flex;
    flex-direction: column;

    .headerCard {
      display: flex;
      flex-direction: column;
      gap: 5px;

      span {
        font-family: var(--font-secundary);
        font-size: 14px;
        font-weight: 400;
        color: var(--color-gray0);
      }
      h2 {
        font-family: var(--font-secundary);
        font-size: 22px;
        font-weight: 700;
        color: var(--color-black);
        transition: opacity 0.3s ease-in-out;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    .descriptionContainer {
      width: 70%;
      p {
        font-family: var(--font-secundary);
        font-size: 18px;
        font-weight: 400;
        color: var(--color-black);
      }
    }

    .cardFooter {
      padding: 10px;
      .cardCategory {
        font-family: var(--font-secundary);
        font-size: 14px;
        font-weight: 400;
        color: var(--color-black);
      }

      .readingTime {
        font-family: var(--font-secundary);
        font-size: 14px;
        font-weight: 400;
        color: var(--color-gray0);
      }
    }
  }

  .cardRight {
    img {
      width: 200px;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
