%title {
  font-family: var(--font-primary);
  font-weight: 750;
}

.title1 {
  @extend %title;
  font-size: clamp(2.5rem, 5vw, 3.1875rem);

  &.black {
    color: var(--color-gray2);
  }

  &.yellow {
    color: var(--color-yellow2);
  }
  &.white {
    color: var(--color-Darkwhite);
  }

  &.curriculum {
    font-size: clamp(1.25rem, 5vw, 2.5rem);
    font-weight: 500;
    color: var(--color-Darkwhite);

    &.right {
      font-size: clamp(0.7813rem, 5vw, 1.5625rem);
      color: var(--color-gray2);
    }
  }
}

.title2 {
  @extend %title;
  font-size: 1.375rem;
  font-weight: 400;

  &.black {
    color: var(--color-gray2);
  }

  &.gray {
    color: var(--color-gray0);
  }

  &.articlePage {
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--color-Darkwhite);
  }

  &.curriculum {
    font-size: 1.875rem;
    color: var(--color-gray0);
  }
}

.title3 {
  @extend %title;
  font-size: 18px;
  font-weight: 500;

  &.black {
    color: var(--color-gray2);
  }

  &.gray {
    color: var(--color-gray1);
  }

  &.curriculum {
    font-family: var(--font-secundary);
    font-size: clamp(0.625rem, 5vw, 1.125rem);
    font-weight: 700;
    color: var(--color-gray0);
  }
}

%text {
  font-family: var(--font-secundary);
  line-height: 1.5;
  color: var(--color-black);

  &.white {
    color: var(--color-Darkwhite);
  }
}

.parapraphDefault {
  @extend %text;
  font-size: clamp(0.875rem, 1.5vw, 0.875rem);
  color: var(--color-gray0);

  &.black {
    color: var(--color-black);
  }

  &.curriculum {
    font-size: clamp(0.6875rem, 1.5vw, 1.375rem);
    font-weight: 400;
    color: var(--color-gray0);
  }
}

.parapraph {
  @extend %text;
  font-size: clamp(11px, 2.5vw, 22px);
  font-weight: 350;

  &.home {
    color: var(--color-gray0);
  }

  &.homeMobile {
    color: var(--color-Darkwhite);
  }

  &.homeWork {
    color: var(--color-gray0);
  }
  &.homeWorkMobile {
    color: var(--color-Darkwhite);
  }
  &.homeInput {
    font-family: var(--font-primary);
    font-size: clamp(11px, 1.4vw, 1rem);
    font-weight: 400;
    color: var(--color-black);
  }

  &.homesendEmail {
    font-size: clamp(11px, 1.5vw, 18px);
    color: var(--color-gray0);
  }

  &.articleCategory {
    font-size: clamp(0.625rem, 1.5vw, 1rem);
    color: var(--color-gray0);
  }

  &.error {
    font-size: clamp(0.5625rem, 1.5vw, 0.75rem);
    font-weight: 700;
    color: red;
  }

  &.curriculum {
    font-size: clamp(0.6875rem, 1.5vw, 0.875rem);
    font-weight: 400;
    color: var(--color-gray0);

    &.italic {
      font-style: italic;
    }
  }
}

.text {
  @extend %text;
  font-size: clamp(0.5rem, 1.7vw, 0.6875rem);
}
