.label {
  display: flex;
  flex-direction: column;
  width: 3.5vw;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;

  @media (max-width: 850px) {
    width: 5vw;
  }
  @media (max-width: 650px) {
    width: 6vw;
  }
  @media (max-width: 400px) {
    width: 7vw;
  }

  &:hover {
    opacity: 0.55;
  }

  .span {
    background: var(--color-gray1);
    border-radius: 1vw;
    height: 0.25vw;
    margin: 0.2vw 0;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

    &.white {
      background: var(--color-white);
    }

    &.black {
      background: var(--color-black);
    }

    @media (max-width: 850px) {
      height: 0.6vw;
    }
    @media (max-width: 650px) {
      height: 0.7vw;
    }
    @media (max-width: 400px) {
      width: 0.8vw;
    }

    &:nth-of-type(1) {
      width: 50%;
    }

    &:nth-of-type(2) {
      width: 100%;
    }

    &:nth-of-type(3) {
      width: 75%;
    }
  }

  .input[type='checkbox'] {
    display: none;

    &:checked ~ .span:nth-of-type(1) {
      transform-origin: bottom;
      transform: rotatez(45deg) translate(8px, 0px);
    }

    &:checked ~ .span:nth-of-type(2) {
      transform-origin: top;
      transform: rotatez(-45deg);
    }

    &:checked ~ .span:nth-of-type(3) {
      transform-origin: bottom;
      width: 50%;
      transform: translate(30px, -11px) rotatez(45deg);
    }
  }
}
