.blogContainerHorizontal,
.blogContainerVertical {
  width: 45%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 60px;

  h3 {
    display: flex;
    flex-direction: column;
  }
  p {
    margin-top: 30px;
    width: 88%;
  }
}

.blogContainerVertical {
  h3 {
    color: var(--color-white);
  }
}

.btnContainer {
  position: absolute;
  margin-top: 100px;
}

@media (max-width: 768px) {
  .blogContainerVertical {
    width: 70%;
    height: auto;
    gap: 50px;
    align-items: center;

    p {
      margin-top: 10px;
    }
  }
}
