.workplaceBlogContainerHorizontal {
  position: absolute;
  left: 30vw;
  width: 100%;

  p {
    position: absolute;
    top: 15vh;
    left: 0vw;
    width: 25%;
  }
}

.btnContainer {
  position: absolute;
  top: 30vh;
  left: 2vw;
  width: 25%;
}
