.titleProjectsContainer {
  position: relative;

  width: 83%;
  margin: 0 auto;

  @media (max-width: 1024px) {
    width: 83%;
    border-bottom: 1px solid var(--color-gray0);
    padding-bottom: 10px;
  }
}
