.modalOverlay {
  position: fixed;

  display: flex;
  justify-content: flex-end;

  inset: 0;

  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0, 0.3);
}
.modalBox {
  position: relative;
  width: 100%;
  max-width: 15vw;
  height: 21vw;
  background: var(--color-white);
  border-radius: 0.1875rem;
  box-shadow: 20px 20px 20px -20px rgba(0, 0, 0, 0.7);
  animation-duration: 1s;
  animation-name: slidein;
}
.modalBox:before {
  content: '';
  position: absolute;
  top: 14vw;
  left: 2vw;
  width: 10vw;
  height: 1px;
  background-color: var(--color-gray0);
}

@keyframes slidein {
  from {
    margin-left: 0%;
    width: 0%;
  }

  to {
    margin-left: 30%;
    width: 30%;
  }
}

.closeContainer {
  margin-left: 10vw;
  margin-top: 1vw;
}

.closeIcon {
  font-size: 2.5vw;
  color: var(--color-gray1);
  transition: 0.5s;
}
.closeIcon:hover {
  opacity: 0.5;
}

.middleModal {
  margin-left: 3vw;
  margin-top: 1vw;

  a {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 1.8;
    color: var(--color-gray1);
  }
}

.bottomModal {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 3.5vw;
  margin-left: 3vw;

  gap: 1vw;

  @media (max-width: 935px) {
    left: 2.5vw;
  }
  @media (max-width: 750px) {
    left: 2vw;
  }
}

.iconLinkedin {
  width: 2.5vw;
  transition: opacity 0.3s ease-in-out;
}
.iconGitHub {
  width: 3.3vw;
  transition: opacity 0.3s ease-in-out;
}
.iconLinkedin:hover {
  opacity: 0.5;
}
.iconGitHub:hover {
  opacity: 0.5;
}
