.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    width: 100%;

    input {
      font-family: var(--font-primary);
      font-size: 12px;
      color: var(--color-yellow2);

      border: none;
    }
  }

  button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    width: 25%;
    height: 25px;
    padding: 5px;
    margin-top: 2%;

    font-family: var(--font-primary);
    font-size: 12px;
    color: var(--color-gray0);

    border: 1px solid var(--color-gray0);
    border-radius: 2%;

    transition: 0.3s;

    svg {
      font-size: 12px;
      color: var(--color-gray0);
    }

    &:hover,
    :focus {
      border: 1px solid var(--color-yellow2);
      color: var(--color-yellow2);

      svg {
        color: var(--color-yellow2);
      }
    }
  }
}
