.workplaceContainerHorizontal {
  display: flex;
  flex-direction: row;

  margin-left: 3vw;
}
.workplaceContainerVertical {
  display: flex;
  flex-direction: row;
}

.workplaceContainerHorizontal:before {
  content: '';
  position: absolute;
  top: -5vh;
  left: 28.5vw;
  width: 1px;
  height: 53vh;
  background-color: var(--color-gray0);
}
