.workplaceContainerHorizontal {
  display: flex;
  flex-direction: row;

  position: absolute;
  top: 1vh;
  left: 4vw;
  width: 100%;
}

.workplaceContainerHorizontal:before {
  content: '';
  position: absolute;
  top: -5vh;
  left: 28.5vw;
  width: 1px;
  height: 65vh;
  background-color: var(--color-gray0);
}

.buttonHorizontal::before {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
}

.buttonHorizontal:hover,
.buttonHorizontal:focus {
  color: #313133;
  transform: translateY(-6px);
}

.buttonHorizontal:hover::before,
.buttonHorizontal:focus::before {
  opacity: 1;
}

.buttonHorizontal::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid var(--color-gray2);
  position: absolute;
  z-index: -1;
  top: 66%;
  left: 50%;
  transform: translate(-50%, 0%);
  animation: ring 1.5s infinite;
}

.buttonHorizontal:hover::after,
.buttonHorizontal:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 0.1vw;
    height: 0.1vw;
    opacity: 1;
  }
  100% {
    width: 5vw;
    opacity: 0;
  }
}

.buttonHorizontal {
  position: absolute;
  top: 65vh;
  left: 25.8vw;
  width: auto;
  animation: moveUpDown 3s infinite alternate ease-in-out;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
