.containerForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 5vw;

  margin-top: 15%;

  .inputsContainer {
    display: flex;
    flex-direction: column;

    .inputLogin {
      border: 1px solid var(--color-gray0);
      background: var(--color-black);

      font-family: var(--font-secundary);
      font-size: 20px;
      color: var(--color-gray0);

      height: 40px;
      padding: 10px;
      margin-bottom: 5%;

      transition: 0.3s;

      width: 500px;

      &:focus {
        border: 1px solid var(--color-white);
        color: var(--color-white);
      }
    }
  }

  .bntLogin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    width: 115px;
    height: 50px;

    border: solid 1px var(--color-gray0);
    border-radius: 5%;

    font-family: var(--font-primary);
    font-size: 20px;
    color: var(--color-gray0);

    transition: 0.3s;

    &:hover {
      background: var(--color-white);
      color: var(--color-black);

      border: solid 1px var(--color-black);
      border-radius: 5%;
    }
  }
}
