.cardarticleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 93%;

  border: 1px solid var(--color-Darkwhite);
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

  transition:
    border 0.3s,
    box-shadow 0.3s;

  margin: 0 0 5% 0;
  padding: 1.3%;

  &:hover {
    border: solid 1px #c8c8c8;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
  }

  .cardLeft {
    display: flex;
    flex-direction: column;

    width: 65%;
    height: auto;

    .headerCard {
      display: flex;
      flex-direction: column;

      span {
        font-family: var(--font-secundary);
        font-size: 14px;
        font-weight: 400;
        color: var(--color-gray0);
      }

      h2 {
        font-family: var(--font-secundary);
        font-size: 22px;
        font-weight: 700;
        color: var(--color-gray1);
        transition: opacity 0.3s ease-in-out;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    .descriptionContainer {
      margin-top: 10px;
      width: 90%;

      p {
        font-family: var(--font-secundary);
        font-size: 18px;
        font-weight: 400;
        color: var(--color-gray1);
      }
    }

    .cardFooter {
      display: flex;
      flex-direction: row;
      align-items: center;

      justify-content: space-between;

      padding: 10px;

      .cardCategory {
        font-family: var(--font-secundary);
        font-size: 14px;
        font-weight: 700;
        color: var(--color-gray1);
      }

      .readingTime {
        font-family: var(--font-secundary);
        font-size: 14px;
        font-weight: 400;
        color: var(--color-gray0);
      }

      .bntView {
        align-self: flex-end;

        transition: 0.3s;

        border-radius: 10%;
        padding: 1% 2% 1% 2%;

        font-family: var(--font-primary);
        font-size: 16px;
        font-weight: 300;
        color: var(--color-white);

        background: var(--color-gray2);
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);

        .bntContent {
          display: flex;
          flex-direction: row;
          align-items: center;

          font-family: var(--font-primary);
          font-size: 16px;
          font-weight: 300;
          color: var(--color-white);

          .icon {
            font-size: 11px;
            font-weight: 500;
            color: var(--color-white);
            margin-left: 5px;
          }
        }

        &:hover {
          background: var(--color-gray0);

          span {
            color: var(--color-white);

            .icon {
              color: var(--color-white);
            }
          }
        }
      }
    }
  }

  .cardRight {
    width: 30%;

    img {
      width: 100%;
      height: 10%;
    }
  }

  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column-reverse;

    .cardLeft {
      width: 100%;
    }

    .cardRight {
      width: 100%;
      margin-bottom: 3%;
    }
  }
}
