.modalOverlay {
  position: fixed;
  z-index: 9;

  .modalBox {
    position: fixed;
    top: 3vh;
    right: 5.5vw;
    width: 300px;
    height: 400px;
    background: var(--color-white);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 0.1875rem;
    box-shadow: -1px 1px 25px -8px rgba(0, 0, 0, 0.75);

    &:before {
      content: '';
      position: absolute;
      top: 16.875rem;
      left: 3.125rem;
      width: 200px;
      height: 1px;
      background: var(--color-gray1);
    }

    .middleModal {
      margin-left: 60px;
      margin-top: 80px;
    }

    .bottomModal {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 80px;
      margin-left: 80px;
      gap: 20px;

      .icons {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      @media (max-width: 1024px) {
        width: 100%;
        justify-content: center;
        margin-left: 0;

        .formSearch {
          display: flex;
        }

        .icons {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
      }

      @media (max-width: 935px) {
        left: 2.5vw;
      }

      @media (max-width: 750px) {
        left: 2vw;
      }

      .iconLinkedin {
        width: 65px;
        transition: opacity 0.3s ease-in-out;

        &:hover {
          opacity: 0.5;
        }
      }

      .iconGitHub {
        width: 65px;
        transition: opacity 0.3s ease-in-out;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    &.modalBoxProjectEndAticle {
      @media (max-width: 1024px) {
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 60vh;

        .middleModal {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;

          margin-top: 15%;

          ul {
            display: flex;
            flex-direction: column;
          }
        }

        .bottomModal {
          margin-top: 15%;

          display: flex;
          flex-direction: row;
          justify-content: space-evenly;

          .formSearch {
            margin-left: 5%;
          }

          .icons {
            margin-right: 13%;
          }

          .formSearchPlaceholder {
            width: 250px;
            visibility: hidden;
          }
        }

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 50%;
          width: 50%;
          height: 100%;
          box-shadow: -10px 0px 15px -14px rgba(0, 0, 0, 0.75);
          background: none;
          z-index: -1;
        }
      }
    }
  }

  .modalBoxWhite:before {
    background-color: var(--color-white);
  }

  .modalBoxGray:before {
    background-color: var(--color-gray1);
  }
}
