.insertImageContainer {
  .btnImg {
    svg {
      font-size: 30px;
      font-weight: bold;
      color: var(--color-gray0);
      transition: 0.3s;

      &:hover {
        color: var(--color-yellow2);
      }
    }
  }
}
