.container {
  display: flex;
  flex-direction: column;
}

.formContainer {
  display: flex;
  flex-direction: row;

  align-items: center;

  @media (max-width: 1050px) {
    display: flex;
    flex-direction: column;
    align-items: normal;
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 6vh;
}

.textAreaContainer {
  margin-left: 2vw;
  margin-bottom: 2vw;

  @media (max-width: 1050px) {
    margin-left: 0vw;
  }
}

.labelSendMeEmail {
  font-size: 1.8vw;
  font-family: var(--font-primary);
  font-weight: 300;
  color: var(--color-black);

  margin-bottom: 0.625rem;
}
