.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  z-index: 0;
}

.formContainer {
  display: flex;
  flex-direction: row;
  margin-left: 5vw;

  &.left {
    margin-left: 0;
  }

  @media (max-width: 1050px) {
    display: flex;
    flex-direction: column;
    align-items: normal;
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 6vh;

  p {
    margin-top: 5px;
  }
}

.textAreaContainer {
  margin-bottom: 2vw;
  margin-left: 3vw;

  @media (max-width: 1050px) {
    margin-left: 0;
  }
}

.labelSendMeEmail {
  font-size: 1.8vw;
  font-family: var(--font-primary);
  font-weight: 300;
  color: var(--color-black);
  margin-bottom: 0.625rem;
}
