.containerDefault {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 50px;

  .bntSend {
    right: 18vw;
  }
}

.formContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 50px;

  @media (max-width: 1050px) {
    flex-direction: column;
    align-items: normal;
    width: 68%;
  }

  .formLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: 100%;
    gap: 50px;
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.textAreaContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media (max-width: 1050px) {
    margin-left: 0;
  }
}

.labelSendMeEmail {
  font-size: 1.8vw;
  font-family: var(--font-primary);
  font-weight: 300;
  color: var(--color-black);
  margin-bottom: 0.625rem;
}
