.aboutHomeContainerHorizontal {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: 3vw;

  p {
    margin-top: 3.1vw;
    width: 55%;
  }
}
.bntCurriculum {
  margin-top: 5vw;
}
