.aboutHomeContainerHorizontal {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 1vh;
  left: 4vw;
  width: auto;

  p {
    margin-top: 3.1vw;
    width: 55%;
  }
}
.buttonRouterHorizontal {
  position: absolute;
  top: 5vh;
  left: 15vw;
  width: auto;
}
.buttonHorizontal {
  position: absolute;
  top: 64vh;
  left: 26vw;
  width: auto;
}
