.aboutHomeContainerHorizontal,
.aboutHomeContainerVertical {
  display: flex;
  flex-direction: column;

  p {
    line-height: 1.5;
  }

  .bntCurriculum {
    margin-top: 1vw;
  }
}

.aboutHomeContainerHorizontal {
  p {
    margin-top: 1vw;
    width: 60%;
  }

  .bntCurriculum {
    margin-left: 6vw;
    margin-top: 4vw;
  }
}

.aboutHomeContainerVertical {
  justify-content: center;

  width: 100%;
  height: 95vh;

  box-shadow: 0px 11px 11px -1px rgba(0, 0, 0, 0.75);

  .aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 80%;
    height: 100%;
    margin: 0 auto;

    gap: 50px;

    .headerAbout {
      p {
        margin-top: 50px;
      }
    }

    .bntCurriculum {
      margin-left: 12vw;
    }

    @media (max-width: 680px) {
      h1 {
        font-size: 6vw;

        span {
          font-size: 6vw;
        }
      }

      p {
        font-size: 2.3vw;
      }
    }

    @media (max-width: 570px) {
      h1 {
        font-size: 6.5vw;

        span {
          font-size: 6.5vw;
        }
      }
    }
  }
}
