$template-margin-top: 5vw;
$template-footer-top: 78vh;
$template-button-top: 85vh;
$template-button-left: 56.5vw;
$template-main-top: 20vh;
$template-main-left: 28vw;
$template-nav-top: 30vh;
$template-nav-left: 12vw;
$color-black: var(--color-black);
$color-white: var(--color-white);
$color-gray0: var(--color-gray0);

.templadeHorizontalContainer {
  height: 100vh;
  width: 100%;
  margin: 0;
  background: linear-gradient(to right, $color-black 23vw, $color-white 23vw);
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 23vw;
    height: 100%;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
    z-index: 0;
  }

  &::after {
    content: '';
    position: absolute;
    top: 80vh;
    left: 0;
    width: 23vw;
    height: 1px;
    background-color: var(--color-gray0);
  }

  header {
    width: 100%;
  }

  .mainContainer {
    main {
      position: absolute;
      top: $template-main-top;
      left: $template-main-left;
      width: 100%;
    }

    .leftSideContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: $template-margin-top;

      nav {
        position: absolute;
        top: $template-nav-top;
        left: $template-nav-left;

        @media (max-width: 1050px) {
          span {
            font-size: 1.3vw;
          }
        }
      }

      footer {
        position: absolute;
        top: $template-footer-top;
        left: 0;
        width: 35vw;
      }
    }

    .button {
      position: absolute;
      top: $template-button-top;
      left: $template-button-left;
      animation: moveUpDown 1.5s infinite alternate ease-in-out;
      transition: 0.5s;

      &:hover {
        opacity: 0.5;
        animation: moveUpDown 0.5s infinite alternate ease-in-out;
      }
    }
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
