.filterContainer {
  margin: 2vw 0 1vw 0;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ul {
    width: 80%;
    height: 100%;
    border-bottom: 0.0625rem solid var(--color-gray0);
    height: 2.5625rem;

    display: flex;
    flex-direction: row;

    a {
      font-family: var(--font-primary);
      font-size: clamp(1.125rem, 1.5vw, 1.375rem);
      color: var(--color-gray0);
      background: none;
      border: none;
      position: relative;
      cursor: pointer;
      margin: 0 1vw 0 0;
      transition: 0.3s;

      &:hover {
        color: var(--color-yellow2);
      }
    }

    .focusedArticle {
      display: flex;
      flex-direction: row;
      width: auto;
      height: 100%;
      color: var(--color-yellow2);
      border-bottom: 2px solid var(--color-yellow2);
    }
  }

  @media (max-width: 1024px) {
    width: 50%;
    height: auto;
  }
}

.stickyContainer {
  width: auto;
  height: 100%;

  ul {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 1.25rem;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;

      a {
        font-family: var(--font-primary);
        font-size: clamp(0.75rem, 1.5vw, 1rem);
        font-weight: 400;
        color: var(--color-gray0);
        background: none;
        position: relative;

        transition: 0.3s;

        &:hover {
          color: var(--color-yellow2);
        }
      }

      .focusedArticle {
        display: flex;
        flex-direction: row;
        align-items: center;

        width: auto;
        height: 100%;

        color: var(--color-yellow2);
        border-bottom: 2px solid var(--color-yellow2);
      }

      .focusedBlog {
        display: flex;
        flex-direction: row;
        align-items: center;

        width: auto;
        height: 100%;

        color: var(--color-black);
        border-bottom: 2px solid var(--color-black);
      }
    }
  }

  @media (max-width: 1024px) {
    margin-left: -15%;

    ul {
      border: none;
      display: flex;
      flex-direction: column;

      li {
        a {
          font-family: var(--font-primary);
          font-size: clamp(1rem, 1.5625rem, 1.125rem);
          font-weight: 400;
        }

        button {
          display: flex;
          flex-direction: row;
          align-items: flex-end;

          div {
            display: flex;
          }
        }

        .focused {
          border-bottom: 0.0625rem solid var(--color-yellow2);
        }
      }
    }
  }
}

.blogFilter {
  margin: 2vw 0 0vw 0;
  width: 97%;
  height: 3.75rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ul {
    width: 83%;
    border-bottom: 1px solid var(--color-black);
    height: 2.5625rem;

    display: flex;
    flex-direction: row;

    li {
      a {
        font-family: var(--font-primary);
        font-size: clamp(1.125rem, 1.5vw, 1.375rem);
        color: var(--color-gray0);
        background: none;
        border: none;
        position: relative;
        cursor: pointer;
        margin: 0 1vw 0 0;

        &:hover {
          color: var(--color-black);
        }
      }

      .focusedBlog {
        display: flex;
        flex-direction: row;
        width: auto;
        height: 100%;
        color: var(--color-black);
        border-bottom: 2px solid var(--color-black);
      }
    }
  }

  @media (max-width: 1024px) {
    ul {
      border: none;
    }
  }
}

.stickyContainerWhite {
  ul {
    li {
      a {
        color: var(--color-gray0);

        &:hover {
          color: var(--color-black);
        }
      }
      .focused {
        color: var(--color-black);
        border-bottom: 3px solid var(--color-black);

        @media (max-width: 1024px) {
          border-bottom: 1px solid var(--color-black);
        }
      }
    }
  }
}

.icon {
  font-size: 1.75rem;
  color: var(--color-gray0);
}

.arrow {
  font-size: 0.875rem;
  color: var(--color-gray0);
}
