%arrowIcon {
	color: var(--color-yellow);
}

.projectSection {
	position: relative;
	width: 100%;
	overflow: hidden;

	margin-bottom: 5%;

	h2 {
		font-family: var(--font-primary);
		font-size: 18px;
		color: var(--color-gray0);
	}

	.listProjects {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		margin-top: 1%;

		ul {
			display: flex;
			flex-direction: row;
			gap: 30px;
			overflow: hidden;
			scroll-behavior: smooth;
			padding: 0;
			margin: 0;
			list-style: none;
			width: 100%;
		}

		span {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			background: transparent;
			border: none;
			cursor: pointer;
			z-index: 2;
			transition: opacity 0.3s;

			&.left {
				left: 0;

				&:hover {
					.arrowIcon {
						@extend %arrowIcon;
					}
				}
			}

			&.right {
				right: 0;

				&:hover {
					.arrowIcon {
						@extend %arrowIcon;
					}
				}
			}
		}

		.arrowIcon {
			color: var(--color-gray0);
			font-size: 50px;
		}
	}
}
