.btnNavHome {
  font-family: var(--font-primary);
  font-size: 1rem;
  line-height: 3.5;
  color: var(--color-white);
  transform: 0.4s;

  &:hover {
    color: var(--color-yellow);
  }
}

%bntDefault {
  font-family: var(--font-primary);
  font-weight: 300;
  font-size: 1.8vw;
  color: var(--color-black);

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 26vw;
  height: 5vw;
  border: solid 1px var(--color-black);
  position: relative;
  overflow: hidden;
  cursor: pointer;

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      margin-right: 0.9vw;
    }
    span {
      margin-left: 7.5vw;
    }
  }

  a span {
    position: relative;
    z-index: 4;
  }

  a:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--color-gray2);
    transition: all 0.35s;
    z-index: 1;
  }

  a:hover {
    color: var(--color-white);
  }

  a:hover:after {
    width: 100%;
  }

  a:hover .icon {
    color: var(--color-white);
  }

  .icon {
    color: var(--color-black);
    transition: color 0.35s ease;
    position: relative;
    z-index: 5;
  }
}

.bntAboutHome {
  @extend %bntDefault;
}

.bntWorplace {
  @extend %bntDefault;
  width: 27vw;

  a {
    span {
      margin-left: 2.94vw;
    }
  }

  .icon {
    margin-right: 1vw;
  }
}
.bntWorplace2 {
  @extend %bntDefault;
  width: 27vw;

  a {
    span {
      margin-left: 4vw;
    }
  }

  .icon {
    margin-right: 1vw;
  }
}

.bntSendMeEmail {
  @extend %bntDefault;

  margin-left: 165px;
  margin-top: 60px;

  button {
    font-family: var(--font-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .icon {
      margin-right: 1.25rem;
    }
    span {
      font-weight: 300;
      font-size: 1.5625rem;
      margin-left: 8.75rem;
    }
  }

  button span {
    position: relative;
    z-index: 2;
  }

  button:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--color-gray2);
    transition: all 0.35s;
    z-index: 1;
  }

  button:hover {
    color: var(--color-white);
  }

  button:hover:after {
    width: 100%;
  }

  button:hover .icon {
    color: var(--color-white);
  }

  .icon {
    font-weight: 300;
    font-size: 25px;
    color: var(--color-black);
    transition: color 0.35s ease;
    z-index: 3;
  }
}

.arrowIcon {
  font-size: 6.25vw;
  color: var(--color-black);
}
