%bntDefault {
  font-family: var(--font-primary);
  font-weight: 300;
  font-size: clamp(11px, 2.5vw, 20px);
  color: var(--color-black);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 15%;
  padding: 20px;
  height: auto;
  border: solid 1px var(--color-gray0);
  position: relative;
  overflow: hidden;
  cursor: pointer;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    span {
      position: relative;
      z-index: 4;
    }

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: var(--color-gray2);
      transition: all 0.35s;
      z-index: 2;
    }

    &:hover {
      color: var(--color-white);

      &::after {
        width: 100%;
      }

      .icon {
        color: var(--color-white);
      }
    }
  }

  .icon {
    color: var(--color-black);
    transition: color 0.35s ease;
    position: relative;
    left: 1.5vw;
    z-index: 5;
  }

  &.mobile {
    color: var(--color-Darkwhite);
    border: solid 1px var(--color-Darkwhite);

    .icon {
      color: var(--color-Darkwhite);
    }

    a {
      &::after {
        background: var(--color-white);
      }

      &:hover {
        color: var(--color-black);

        .icon {
          color: var(--color-black);
        }
      }
    }
  }
}

.bntAboutHome {
  @extend %bntDefault;
  width: 20%;

  @media (max-width: 920px) {
    width: 20vw;
  }

  @media (max-width: 580px) {
    width: 40%;
  }
}

.bntWorkplace {
  @extend %bntDefault;
  width: 20vw;

  a {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  @media (max-width: 1024px) {
    width: 30vw;
  }
}

.bntSendMeEmail {
  @extend %bntDefault;
  width: 10vw;
  margin-top: 80px;

  button {
    font-family: var(--font-primary);
    font-weight: 300;
    font-size: clamp(11px, 2.5vw, 20px);
    display: flex;
    align-items: center;
    z-index: 0;

    span {
      z-index: 1;
    }

    .icon {
      font-size: clamp(11px, 1.7vw, 18px);
      z-index: 1;
    }

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: var(--color-gray2);
      transition: all 0.35s;
      z-index: 0;
    }

    &:hover {
      color: var(--color-white);

      &::after {
        width: 100%;
      }

      .icon {
        color: var(--color-white);
      }
    }
  }

  .icon {
    font-weight: 300;
    font-size: 25px;
    color: var(--color-black);
    transition: color 0.35s ease;
    z-index: 3;
  }

  @media (max-width: 1200px) {
    width: 12vw;
  }

  @media (max-width: 903px) {
    width: 15vw;
  }

  @media (max-width: 768px) {
    button {
      font-size: 1.8vw;
      font-weight: 300;
    }
  }

  @media (max-width: 768px) {
    width: 20%;
  }
}

.arrowIcon {
  font-size: 6.25vw;
  color: var(--color-gray2);
}
