%input{
    font-family: var(--font-secundary);
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-black);

    border: 1px solid var(--color-primary);
    border-radius: 0.5rem;
    background: var(--color-white);
}

.input-small{
    @extend %input;
    height: 2.625rem;
}
.input-medium{
    @extend %input;
    height: 3.25rem;
    
}