%default {
  font-family: var(--font-secundary);
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-black);

  border-left: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
  border-right: 0;
  border-top: 0;
  background: var(--color-white);
}

.input-small {
  @extend %default;
  height: 42px;
}
.input-medium {
  @extend %default;
  width: 25vw;
  height: 5.5vh;

  font-size: 1vw;

  padding-left: 1vh;
}

.textArea-medium {
  @extend %default;
  width: 30vw;
  height: 23vh;

  font-size: 1vw;

  padding-left: 1vh;
}
