:root{
    --color-yellow: #ffd32f;
    --color-yellow2: #e3b200;
    --color-black:#1b1f24;
    --color-white:#ededf1;

    --color-gray1: #76787b;
    --color-gray2: #2d3136;    

    --font-primary: "Roboto", sans-serif;
    --font-secundary: "Source Sans3", sans-serif;
}