:root {
  --color-yellow: #ffd32f;
  --color-yellow2: #e3b200;

  --color-black: #1b1f24;
  --color-black-transparent: rgba(27, 31, 36, 0.97);

  --color-white: #ededf1;
  --color-white-transparent: rgba(237, 237, 241, 0.8);
  --colo-Darkwhite: #e5e5e9;

  --color-gray0: #76787b;
  --color-gray1: #404449;
  --color-gray2: #2d3136;

  --font-primary: 'Roboto', sans-serif;
  --font-secundary: 'Source Sans', sans-serif;
}
