.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.marginTop {
  margin-top: 50px;
}

.flexDirectionxRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flexBox {
  display: flex;
  flex-direction: row;
}
