%title {
  font-family: var(--font-primary);
  font-weight: 700;
}

.title1 {
  @extend %title;
  font-size: 3vw;

  &.yellow {
    color: var(--color-yellow2);
  }
}

.title2 {
  @extend %title;
  font-size: 1rem;
}

%text {
  font-family: var(--font-secundary);
  font-weight: 400;
  color: var(--color-black);

  &.white {
    color: var(--color-white);
  }
}

.parapraph {
  @extend %text;
  font-size: 1.2vw;

  &.home {
    color: var(--color-gray0);
    line-height: 2;
  }
  &.about {
    color: var(--color-gray0);
    line-height: 1.3;
  }
}

.text {
  @extend %text;
  font-size: 1vw;
}
