%title {
  font-family: var(--font-primary);
  font-weight: 700;
}

.title1 {
  @extend %title;
  font-size: clamp(40px, 5vw, 51px);

  &.yellow {
    color: var(--color-yellow2);
  }
}

.title2 {
  @extend %title;
  font-size: 2.1875rem;
}

%text {
  font-family: var(--font-secundary);
  font-weight: 400;
  color: var(--color-black);

  &.white {
    color: var(--color-white);
  }
}

.parapraph {
  @extend %text;
  font-size: clamp(11px, 1vw, 22px);

  &.home {
    color: var(--color-gray0);
  }
  &.homeWork {
    color: var(--color-gray0);
    font-size: clamp(11px, 1.7vw, 22px);
  }
  &.homeWorkMobile {
    color: var(--colo-Darkwhite);
    font-size: clamp(11px, 1.7vw, 22px);
  }
  &.homeInput {
    color: var(--color-gray0);
    font-size: clamp(11px, 1.4vw, 22px);
  }

  &.homeMobile {
    color: var(--colo-Darkwhite);
  }
}

.text {
  @extend %text;
  font-size: 11px;
}
