.bannerContainerHorizontal {
	.bannerContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		width: 85%;

		.bannerLeft {
			width: 60%;
			p {
				margin-top: 20px;
			}
		}

		.bannerRight {
			width: 30%;

			display: flex;
			flex-direction: column;
			justify-content: center;

			img {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background: var(--color-white);
				border: 5px solid var(--color-white);
				box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
				transition: box-shadow 0.3s;
			}
		}
	}
}

.bannerContainerVertical {
	width: 100%;
	height: 80vh;
	background: var(--color-black);
	box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.75);

	.bannerContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		margin: 0 auto;
		width: 80%;
		height: 80%;

		.bannerLeft {
			width: 60%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;

			gap: 15px;
		}

		.bannerRight {
			width: 40%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			img {
				width: 80%;
				border-radius: 55%;
				background: var(--color-white);
				border: 5px solid var(--color-white);
				box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
				transition: box-shadow 0.3s;
			}
		}
	}

	@media (max-width: 1180px) {
		.bannerContainer {
			.bannerLeft {
				width: 58%;
			}
			.bannerRight {
				img {
					width: 80%;
				}
			}
		}
	}

	@media (max-width: 1024px) {
		margin-top: 50px;
		.bannerContainer {
			gap: 20px;
			.bannerLeft {
				width: 100%;
			}
			.bannerRight {
				width: 40%;
				img {
					width: 280px;
				}
			}
		}
	}

	@media (orientation: landscape) and (max-width: 768px) {
		height: 110vw;
	}

	@media (max-width: 768px) {
		.bannerContainer {
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;

			width: 75%;
			height: 100%;

			.bannerLeft {
				width: 100%;
				height: 50%;
			}

			.bannerRigh {
				width: 100%;
			}
		}
	}

	@media (max-width: 480px) {
		.bannerContainer {
			width: 70%;
			.bannerRight {
				img {
					width: 60vw;
				}
			}
		}
	}
}

.circle {
	width: 80%;
}
