.filterContainer {
  margin: 2vw 0 1vw 0;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ul {
    width: 83%;
    border-bottom: 1px solid var(--color-gray0);
    height: auto;

    display: flex;
    flex-direction: row;

    a {
      font-family: var(--font-primary);
      font-size: clamp(18px, 1.5vw, 22px);
      color: var(--color-gray0);
      background: none;
      border: none;
      position: relative;
      cursor: pointer;
      margin: 0 1vw 0 0;

      &:hover {
        color: var(--color-black);
      }
    }

    .focused {
      display: flex;
      flex-direction: row;
      width: auto;
      height: 100%;
      color: var(--color-black);
      border-bottom: 2px solid var(--color-black);
    }
  }

  @media (max-width: 1024px) {
    width: auto;
    height: 100%;
    margin: 0 0 0 -13%;

    ul {
      width: auto;
      border-bottom: none;

      gap: 1.25rem;
    }
  }
}

.stickyContainer {
  width: auto;
  height: 100%;

  ul {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 20px;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;

      a {
        font-family: var(--font-primary);
        font-size: clamp(12px, 1.5vw, 16px);
        font-weight: 400;
        color: var(--color-gray0);
        background: none;
        position: relative;
        cursor: pointer;

        &:hover {
          color: var(--color-black);
        }
      }

      .focused {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: auto;
        height: 100%;
        color: var(--color-black);
        border-bottom: 3px solid var(--color-black);
      }
    }
  }
}
