.customLink {
  text-decoration: none;
  position: relative;
  transition:
    margin-bottom 0.3s,
    transform 0.3s;
  color: var(--color-gray1);
}

.customLink:hover {
  margin-bottom: 10px;
}

.customLink:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 1px;
  background-color: var(--color-gray1);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.customLink:hover:before {
  transform: scaleX(1);
}
