.backgroudHomePage {
  height: 100%;
  width: 100%;
  margin: 0;
  background: linear-gradient(
    to bottom,
    var(--color-black) 0%,
    var(--color-black) 24%,
    var(--color-white) 24%,
    var(--color-white) 47.5%,
    var(--color-black) 47.5%,
    var(--color-black) 68.5%,
    var(--color-white) 68.5%,
    var(--color-white) 100%
  );
  position: relative;
  @media (max-width: 1364px) {
    background: linear-gradient(
      to bottom,
      var(--color-black) 0%,
      var(--color-black) 24%,
      var(--color-white) 24%,
      var(--color-white) 47.5%,
      var(--color-black) 47.5%,
      var(--color-black) 71%,
      var(--color-white) 71%,
      var(--color-white) 100%
    );
  }

  @media (max-width: 1208px) {
    background: linear-gradient(
      to bottom,
      var(--color-black) 0%,
      var(--color-black) 24%,
      var(--color-white) 24%,
      var(--color-white) 48.5%,
      var(--color-black) 48.5%,
      var(--color-black) 71%,
      var(--color-white) 71%,
      var(--color-white) 100%
    );
  }

  @media (max-width: 1167px) {
    background: linear-gradient(
      to bottom,
      var(--color-black) 0%,
      var(--color-black) 24%,
      var(--color-white) 24%,
      var(--color-white) 50.5%,
      var(--color-black) 50.5%,
      var(--color-black) 71.5%,
      var(--color-white) 71.5%,
      var(--color-white) 100%
    );
  }

  @media (max-width: 1050px) {
    background: linear-gradient(
      to bottom,
      var(--color-black) 0%,
      var(--color-black) 25%,
      var(--color-white) 25%,
      var(--color-white) 45.5%,
      var(--color-black) 45.5%,
      var(--color-black) 65.5%,
      var(--color-white) 65.5%,
      var(--color-white) 100%
    );
  }

  @media (max-width: 900px) {
    background: linear-gradient(
      to bottom,
      var(--color-black) 0%,
      var(--color-black) 23%,
      var(--color-white) 23%,
      var(--color-white) 44%,
      var(--color-black) 44%,
      var(--color-black) 68%,
      var(--color-white) 68%,
      var(--color-white) 100%
    );
  }

  @media (max-width: 705px) {
    background: linear-gradient(
      to bottom,
      var(--color-black) 0%,
      var(--color-black) 25%,
      var(--color-white) 25%,
      var(--color-white) 46%,
      var(--color-black) 46%,
      var(--color-black) 70%,
      var(--color-white) 70%,
      var(--color-white) 100%
    );
  }

  @media (max-width: 680px) {
    background: linear-gradient(
      to bottom,
      var(--color-black) 0%,
      var(--color-black) 25%,
      var(--color-white) 25%,
      var(--color-white) 45.5%,
      var(--color-black) 45.5%,
      var(--color-black) 69.5%,
      var(--color-white) 69.5%,
      var(--color-white) 100%
    );
  }
  @media (max-width: 590px) {
    background: linear-gradient(
      to bottom,
      var(--color-black) 0%,
      var(--color-black) 25%,
      var(--color-white) 25%,
      var(--color-white) 44.5%,
      var(--color-black) 44.5%,
      var(--color-black) 69.5%,
      var(--color-white) 69.5%,
      var(--color-white) 100%
    );
  }
  @media (max-width: 510px) {
    background: linear-gradient(
      to bottom,
      var(--color-black) 0%,
      var(--color-black) 25%,
      var(--color-white) 25%,
      var(--color-white) 44%,
      var(--color-black) 44%,
      var(--color-black) 69%,
      var(--color-white) 69%,
      var(--color-white) 100%
    );
  }
  @media (max-width: 488px) {
    background: linear-gradient(
      to bottom,
      var(--color-black) 0%,
      var(--color-black) 25%,
      var(--color-white) 25%,
      var(--color-white) 43%,
      var(--color-black) 43%,
      var(--color-black) 69%,
      var(--color-white) 69%,
      var(--color-white) 100%
    );
  }
  @media (max-width: 450px) {
    background: linear-gradient(
      to bottom,
      var(--color-black) 0%,
      var(--color-black) 24%,
      var(--color-white) 24%,
      var(--color-white) 42.5%,
      var(--color-black) 42.5%,
      var(--color-black) 68.5%,
      var(--color-white) 68.5%,
      var(--color-white) 100%
    );
  }
  @media (max-width: 423px) {
    background: linear-gradient(
      to bottom,
      var(--color-black) 0%,
      var(--color-black) 23.5%,
      var(--color-white) 23.5%,
      var(--color-white) 41.5%,
      var(--color-black) 41.5%,
      var(--color-black) 68.5%,
      var(--color-white) 68.5%,
      var(--color-white) 100%
    );
  }

  @media (max-width: 403px) {
    background: linear-gradient(
      to bottom,
      var(--color-black) 0%,
      var(--color-black) 23.5%,
      var(--color-white) 23.5%,
      var(--color-white) 40.5%,
      var(--color-black) 40.5%,
      var(--color-black) 69.5%,
      var(--color-white) 69.5%,
      var(--color-white) 100%
    );
  }
  @media (max-width: 360px) {
    background: linear-gradient(
      to bottom,
      var(--color-black) 0%,
      var(--color-black) 22.5%,
      var(--color-white) 22.5%,
      var(--color-white) 39.5%,
      var(--color-black) 39.5%,
      var(--color-black) 68.5%,
      var(--color-white) 68.5%,
      var(--color-white) 100%
    );
  }
  @media (max-width: 334px) {
    background: linear-gradient(
      to bottom,
      var(--color-black) 0%,
      var(--color-black) 22.5%,
      var(--color-white) 22.5%,
      var(--color-white) 38.5%,
      var(--color-black) 38.5%,
      var(--color-black) 68.5%,
      var(--color-white) 68.5%,
      var(--color-white) 100%
    );
  }
  @media (max-width: 308px) {
    background: linear-gradient(
      to bottom,
      var(--color-black) 0%,
      var(--color-black) 21.5%,
      var(--color-white) 21.5%,
      var(--color-white) 37%,
      var(--color-black) 37%,
      var(--color-black) 68.5%,
      var(--color-white) 68.5%,
      var(--color-white) 100%
    );
  }
  @media (max-width: 290px) {
    background: linear-gradient(
      to bottom,
      var(--color-black) 0%,
      var(--color-black) 20.5%,
      var(--color-white) 20.5%,
      var(--color-white) 35%,
      var(--color-black) 35%,
      var(--color-black) 69.5%,
      var(--color-white) 69.5%,
      var(--color-white) 100%
    );
  }

  footer {
    width: 100%;
    height: 6vw;

    background: var(--color-black);
  }
}

.backgroud {
  background: var(--color-white);

  footer {
    width: 100%;
    height: 6vw;

    background: var(--color-black);
  }
}
