.backgroudHomePage {
  height: 100%;
  width: 100%;
  margin: 0;
  background: linear-gradient(
    to bottom,
    var(--color-black) 0%,
    var(--color-black) 24%,
    var(--color-white) 24%,
    var(--color-white) 47.5%,
    var(--color-black) 47.5%,
    var(--color-black) 68.5%,
    var(--color-white) 68.5%,
    var(--color-white) 100%
  );
  position: relative;

  @media (max-width: 1364px) {
    background: linear-gradient(
      to bottom,
      var(--color-black) 0%,
      var(--color-black) 24%,
      var(--color-white) 24%,
      var(--color-white) 47.5%,
      var(--color-black) 47.5%,
      var(--color-black) 71%,
      var(--color-white) 71%,
      var(--color-white) 100%
    );
  }

  @media (max-width: 1208px) {
    background: linear-gradient(
      to bottom,
      var(--color-black) 0%,
      var(--color-black) 24%,
      var(--color-white) 24%,
      var(--color-white) 48.5%,
      var(--color-black) 48.5%,
      var(--color-black) 71%,
      var(--color-white) 71%,
      var(--color-white) 100%
    );
  }

  @media (max-width: 1167px) {
    background: linear-gradient(
      to bottom,
      var(--color-black) 0%,
      var(--color-black) 24%,
      var(--color-white) 24%,
      var(--color-white) 50.5%,
      var(--color-black) 50.5%,
      var(--color-black) 71.5%,
      var(--color-white) 71.5%,
      var(--color-white) 100%
    );
  }

  @media (max-width: 1050px) {
    background: linear-gradient(
      to bottom,
      var(--color-black) 0%,
      var(--color-black) 25%,
      var(--color-white) 25%,
      var(--color-white) 45.5%,
      var(--color-black) 45.5%,
      var(--color-black) 65.5%,
      var(--color-white) 65.5%,
      var(--color-white) 100%
    );
  }

  @media (max-width: 900px) {
    background: linear-gradient(
      to bottom,
      var(--color-black) 0%,
      var(--color-black) 23%,
      var(--color-white) 23%,
      var(--color-white) 44%,
      var(--color-black) 44%,
      var(--color-black) 68%,
      var(--color-white) 68%,
      var(--color-white) 100%
    );
  }

  @media (max-width: 705px),
    (max-width: 680px),
    (max-width: 590px),
    (max-width: 510px),
    (max-width: 488px),
    (max-width: 450px),
    (max-width: 423px),
    (max-width: 403px),
    (max-width: 360px),
    (max-width: 334px),
    (max-width: 308px),
    (max-width: 290px) {
    background: linear-gradient(
      to bottom,
      var(--color-black) 0%,
      var(--color-black) 25%,
      var(--color-white) 25%,
      var(--color-white) 45.5%,
      var(--color-black) 45.5%,
      var(--color-black) 69.5%,
      var(--color-white) 69.5%,
      var(--color-white) 100%
    );
  }

  header {
    width: 100%;
    height: auto;

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 5px 5px 10px rgba(27, 31, 36, 0.3);

    z-index: 8;

    position: sticky;
    top: 0;
    transition: background-color 0.3s ease-in-out;
  }

  footer {
    width: 100%;
    height: 6vw;

    background: var(--color-black);
  }
}

.backgroud {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  background: var(--color-white);

  position: relative;

  header {
    width: 100%;
    height: auto;

    background-color: var(--color-white-transparent);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    z-index: 1;

    position: sticky;
    top: 0;
  }

  main {
    min-height: 100vh;
    padding: 20px;
    z-index: 0;
  }

  footer {
    width: 100%;
    height: 6vw;

    background: var(--color-black);
    z-index: 0;
  }
}
