.cardEducationContainer {
	display: flex;
	flex-direction: column;

	padding-bottom: 20px;

	.cardEducationHeader {
		display: flex;
		flex-direction: column;

		padding-bottom: 10px;

		.top {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}
	}
}
