.cardContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	width: 97%;
	height: 100px;
	padding: 20px;

	border: 1px solid var(--color-gray0);

	span {
		display: flex;
		flex-direction: column;
		align-items: center;

		font-family: var(--font-primary);
		font-size: 30px;

		border: 2px solid var(--color-gray0);
		border-radius: 5px;

		padding: 10px;

		transition: 0.3s;

		svg {
			color: var(--color-gray0);
			transition: 0.3s;
		}
	}
	&:hover {
		span {
			border: 2px solid var(--color-yellow2);

			svg {
				color: var(--color-yellow2);
			}
		}
	}
}
