.bannerContainerHorizontal {
  display: flex;
  flex-direction: column;

  margin-left: 3vw;

  @media (max-width: 1050px) {
    h1 {
      font-size: 3.8vw;
    }
    span {
      font-size: 3.8vw;
    }
  }
}

.bannerContainerVertical {
  display: flex;
  flex-direction: column;

  p {
    width: 60%;
  }
  img {
    width: 100%;

    margin-right: 30px;
  }
}

.middleSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 58%;
  img {
    width: 20vw;
  }
}

.presentationVertical {
  width: 100%;
  margin-right: 20px;
}
