%headerDefault {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
  max-width: 90vw;

  margin-bottom: 1.5vw;

  div {
    margin-top: 3vh;
  }

  img {
    width: 2.5vw;
    margin-bottom: 1vw;
    transition: 0.3s;
  }
  img:hover {
    opacity: 0.5;
  }
}

.headerContainerHorizontal {
  @extend %headerDefault;
}

.headerContainerVertical {
  @extend %headerDefault;
}
