.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0vw 10vw 1.5vw 10vw;

  div {
    margin-top: 3vh;
  }

  img {
    width: 2.5vw;
    transition: opacity 0.3s ease-in-out;
  }
  img:hover {
    opacity: 0.5;
  }
}

.logo {
  width: 2.2vw;
  @media (max-width: 1050px) {
    width: 3vw;
  }
}
