.modalBackdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;

	.modalContainer {
		background-color: var(--color-black);
		border-radius: 8px;
		max-width: 80vw;
		width: 100%;
		max-height: 90vh;
		height: 100%;
		box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
		position: relative;
		padding: 20px;

		.closeButton {
			position: absolute;
			top: 10px;
			right: 10px;
			background: none;
			border: none;
			cursor: pointer;
			transition: 0.3s;

			&:hover {
				opacity: 0.7;
			}

			svg {
				color: var(--color-yellow2);
				font-size: 30px;
			}
		}

		.containerContact {
			display: flex;
			flex-direction: column;
			align-items: center;

			gap: 20px;

			div {
				display: flex;
				flex-direction: column;

				width: 100%;
				height: auto;

				.label {
					font-family: var(--font-primary);
					font-size: 28px;
					font-weight: bold;
					color: var(--color-gray0);

					margin-bottom: 10px;
				}

				.name,
				.email,
				.description {
					font-family: var(--font-primary);
					font-size: 18px;
					color: var(--color-gray0);
				}

				.name,
				.email {
					width: 98%;
					height: 50px;
					display: flex;
					flex-direction: row;
					align-items: center;

					padding-left: 10px;

					border: 1px solid var(--color-gray0);
					border-radius: 5px;
				}

				.description {
					width: 98%;
					height: 550px;

					overflow-y: auto;

					padding-left: 10px;
					padding-top: 10px;

					border: 1px solid var(--color-gray0);
					border-radius: 5px;
				}
			}
		}
	}
}
