.workplaceProjectContainerHorizontal {
  position: absolute;
  top: -5vh;
  left: 3vw;
  width: 100%;

  p {
    position: absolute;
    top: 16vh;
    left: 0vw;
    width: 25%;
  }
}

.btnContainer {
  position: absolute;
  top: 30vh;
  left: 0vw;
  width: 25%;
}
