.workplaceProjectContainerHorizontal {
  p {
    position: absolute;
    top: 16vh;
    left: 0vw;
    width: 25%;
  }
}

.btnContainer {
  position: absolute;
  top: 30vh;
  left: 2vw;
  width: 25%;
}
