.projectContainerHorizontal,
.projectContainerVertical {
  width: 45%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 60px;

  .projectHeader {
    p {
      margin-top: 30px;
      width: 73%;
    }
  }
}

.projectContainerVertical {
  .projectHeader {
    width: 100%;
    margin: 0 auto;
    h3 {
      width: 100%;
      color: var(--color-white);
    }
    p {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .projectContainerVertical {
    width: 70%;
    height: auto;
    gap: 50px;
    align-items: center;

    .projectHeader {
      p {
        margin-top: 10px;
      }
    }
  }
}
