.topArticleContainer {
  position: relative;

  width: 100%;

  .headerArticle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 80%;

    margin: 0 auto;
  }
}
